<div class="container">
<h2>Category Management</h2>

<form [formGroup]="categoryForm" class="categoryForm" >
  <div><input type="text" placeholder="Enter category name" formControlName="categoryName" />
  </div>
    <div><button type="submit" class="login_btn btn btn-primary" (click)="addCategory()">Add Category</button>
</div></form>
{{message}}

<button (click)="viewCategory()">categories</button>
<div class="categorySection">
  <h3>Categories</h3>
  <div class="categories">
    <div class="category-box" *ngFor="let i of categories">
      <button>{{ i.categoryName }}</button>
    </div>
  </div>
</div>
